
body{
    margin:0;
    background:#111;
    font-family: 'Segoe UI', sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    gap:40px;
}

/* ========== CARD ========== */
.id-card{
    width:320px;
    height:520px;
    background:transparent;
    border-radius:20px;
    overflow:hidden;
    position:relative;
    box-shadow:0 0 20px rgba(0,0,0,.6);
}

/* Header */
.header{
    background:#ec4f07;
    color:#ffd966;
    text-align:center;
    height: 150px;
    position: absolute;
    width: 100%;
}


.top-content{
    width: 100%;
    position: absolute;
    top: 0;
    height: 50%;
    z-index: 99999;
}
.top-content p{
    text-align: center;
    font-weight: 700;
    color: white;
}
.top-content h2{
    text-align: center;
    color: #ffd966;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 20px;
}
.top-content h3{
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-size: 22px;
    line-height: 0;
}
.std{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
   
    

}

.std p{
    text-transform: uppercase;
}
/* Green comma wave */
.wave-green{
    position:absolute;
    top:120px;
    left:51%;
    width: 130px;
    height:130px;
    background:#1f8f5f;
    border-radius:50%;
    transform: translate( -50%);
}
.wave-green::after{
    content:"";
    position:absolute;
    width:130px;
    height:300px;
    background:#1f8f5f;
    bottom:-36px;
    left:-70px;
    
    border-radius:0 0 120px 120px;
    transform:rotate(-50deg);
    z-index: -1;
}
.wave-green::before{
    content:"";
    position:absolute;
    width:230px;
    height:140px;
    background:#1f8f5f;
    bottom:-5px;
    left:-105px;
   
    border-radius:50%;
    transform:rotate(22deg);
    z-index: -1;
}


/* Bottom comma shape */
.wave-orange{
     position:absolute;
    top:120px;
    left:51%;
    width: 130px;
    height:130px;
    background:#1f8f5f;
    border-radius:50%;
    transform: translate( -50%);
}
.wave-orange::after{
    content:"";
    position:absolute;
    width:300px;
    height:250px;
    background:#ec4f07;
    top:-253px;
    left:-65px;
    
    border-radius:50%;
    transform:rotate(0deg);
    z-index: -1;
}


.wave-orange::before{
    content:"";
    position:absolute;
    width:230px;
    height:140px;
    background:#ec4f07;
    bottom:-5px;
    left:0px;
   
    border-radius:50%;
    transform:rotate(-22deg);
    z-index: -1;
}






/* Photo */
.photo-box{
    width:148px;
    height:148px;
    margin-top:20px;
    text-align:center;
    z-index:5;
    position: absolute;
    top: 96px;
    left: 90px;
    background-color: #198754;
     border-radius:50%;
     display: flex;
     align-items: center;
     justify-content: center;
    
}
.photo-boxinner{
  width:138px;
    height:138px;
    object-fit:cover;
    border-radius:50%;
    background-color: #ffd966;
     display: flex;
     align-items: center;
     justify-content: center;
}
.photo-boxinner img{
    width:130px;
    height:130px;
    object-fit:cover;
    border-radius:50%;
    background-color: whitesmoke;
}

/* Info */
.info{
   font-size:16px;
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 20px;
    
   
}
.id{
    text-align: center;
    font-size: 14px;
}

.session{
    color: red;
}
.info h1{
    text-align:center;
    color:#1a3d8f;
    margin:8px 0;
    font-size:25px;
}
.info p{
    margin:6px 0;
}

.description{
    padding-left: 20px;
}




.fotter{
    width: 100%;
    height: 370px;
    background-color: #ffd966;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    
}

.ftop{
    width: 90%;
    height: 470px;
    border-radius: 100%;
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    left: 20px;
    top: -40px;
}

/* Form */
.form{
    background:#fff;
    padding:20px;
    border-radius:12px;
    width:260px;
}
.form input{
    width:100%;
    margin-bottom:10px;
    padding:8px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-bottom-style: dashed;
}
.form input[type="file"]{
    border-bottom: none;
}
.form input:focus{
    outline: none;
}
.form button{
    width:100%;
    padding:10px;
    border:none;
    background:#198754;
    color:#fff;
    border-radius:6px;
    cursor:pointer;
}
.download{
    margin-top:10px;
    background:#0d6efd;
}
